*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    margin-top: 50px;
    width: 500px;
    height: 700px;
    border: 1px solid #869eb5;
    border-radius: 25px;
    background-color: #869eb5;
}

.container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}


.container .button .btn{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    background-color: #bb5d53;
    border: none;
    transition: 1s all;
    text-shadow: 4px 4px 3px rgb(59, 59, 59);
    box-shadow: 3px 3px 20px rgb(58, 56, 56);
}

.container .button .btn:hover{
    color: white;
    background-color: #3b5e80;
    transform: scale(1.1);
}

.socialmedia{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    margin: 40px 30px 25px 30px;   
}
.socialmedia i{
    font-size: 25px;
    color: white;
    text-shadow: 4px 4px 5px rgb(97, 97, 97);
    transition: 1s all;
}
.socialmedia i:hover{
    color: #bb5d53;
    transform: scale(1.5);
}

.pic{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px 0 20px 0;    
}
.pic img{
    width:450px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px rgb(68, 68, 68);
}
.info {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px 50px;
    text-shadow: 5px 5px 5px rgb(61, 61, 61);
}
